PUBLIC_SUPABASE_URL=https://xriwpsgdfueorcsdzwla.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyaXdwc2dkZnVlb3Jjc2R6d2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2OTUzNTQsImV4cCI6MjA2NjI3MTM1NH0.5A3bJe5f6Pc2pkNpPAwk17iIZLC1vIVWEVsSn-8d1Ts